# Node modules
/node_modules/

# Nuxt.js build directory
/.nuxt/

# Log files
*.log

# Dependency directories
/coverage/

# Environment variables
.env
.env.*.local

# npm packages lock file
package-lock.json

# IDE or editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Optional Nuxt cache
/.nuxt_cache/

*.jpg
*.png