# Node modules
/node_modules/

# Environment variables
.env

# Log files
*.log

# npm packages lock file
package-lock.json

# IDE or editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Miscellaneous
*.tgz
